# LLVM / C++ Build Artifacts
*.o
*.so
*.ll
*.bc
main
a.out

# OS Files
.DS_Store
Thumbs.db

# Editor Swaps / Caches
*.swp
*~
.vscode/
.idea/

# Node.js Addon (optional, if added later)
build/
node_modules/
*.node


# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
